ul.thumbnails.image_picker_selector {
overflow: auto;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding: 0px;
margin: 0px; 
}
ul.thumbnails.image_picker_selector ul {
overflow: auto;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding: 0px;
margin: 0px; }
ul.thumbnails.image_picker_selector li.group_title {
float: none; }
ul.thumbnails.image_picker_selector li {
margin: 0px 12px 12px 0px;
}
ul.thumbnails.image_picker_selector li .thumbnail {
padding: 6px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
border: 5px solid #fff !important;
box-shadow: none !important; }
ul.thumbnails.image_picker_selector li .thumbnail img {
-webkit-user-drag: none;
border: none !important; }
ul.thumbnails.image_picker_selector li .thumbnail.selected {
border: 5px solid #0088cc !important; }